:root {
    --color-primary: #05457C;
    --color-secondary: #4AB3D3;
    --color-tertiary: #203798;
    --color-quaternary: #097495;
    --color-quinary: #5461AC;
    --color-off-white: #f4eeee;
    --color-facebook: #3b5998;
    --color-twitter: #00acee;
}

$xs: 400px;
$dxs: 399.99px;
$sm: 640px;
$dsm: 639.99px;
$md: 768px;
$dmd: 767.99px;
$lg: 1024px;
$dlg: 1023.99px;
$xl: 1280px;
$dxl: 1279.99px;
$xxl: 1536px;
$dxxl: 1535.99px;
