.copy-quick-links {

    .buttons {

        > * {
            min-width: 190px;
            width: 50%;
        }


        .btn {
            display: block;
            width: 100%;
        }
    }

}