.main-header {

    &__nav {

        > ul {
            @apply -mx-3 p-0;
            > li {
                @apply px-3 uppercase;

                &:nth-last-child(-n+3) {
                    .sub-menu-0 {
                        left: auto;
                        right: 0;
                    }
                }

                > a {
                    &:not(.btn) {
                        @apply py-10 font-medium hover:text-secondary;
                    }
                }
            }
        }

        ul {
            padding: 0;
        }


        li {
            position: relative;

            @apply m-0 text-sm xl:text-slg inline-block;

            > ul {
                margin-top: 0;
            }


            &.menu-item-has-children {
                &:hover, &:focus {
                    > .sub-menu-0 {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }

                > a {
                    position: relative;
                    // padding-right: 1rem;

                    &:hover, &:focus {
                        + .sub-menu-0 {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;
                        }
                    }

                    // &:after {
                    //     content: '';
                    //     display: block;
                    //     position: absolute;
                    //     top: 50%;
                    //     right: -0.15rem;
                    //     width: 0.4rem;
                    //     height: 0.4rem;
                    //     transform: translateY(-50%) translateX(-50%) rotate(135deg);

                    //     @apply border-r-2 border-t-2 border-white;
        
                    // }
                }
            }
        }

        a {
            display: block;
        }

        .sub-menu-0 {
            width: 360px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @apply py-2 bg-gray-900 bg-opacity-30 transition;

            li {
                display: block;
                position: relative;
                z-index: 1;
                overflow: hidden;

                &:hover {
                    > a {
                        background: rgba(white, 0.3);
                    }
                }
        
                > ul {
                    padding-left: 15%;
                    @apply py-2;

                    li {
                        a {
                            &:hover {
                                background: rgba(#4AB3D3, 0.5);
                            }
                        }
                    }
                }
            }

            a {
                @apply py-1 px-2 hover:text-white; 

                &:hover {
                    background: rgba(white, 0.3);
                }
            }
        }
    }
}
